/* style.css */
body {
    font-family: Arial, sans-serif;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b01080;
}

.login-box {
    background: #0b75ae;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(192, 19, 19, 0.1);
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.email, .password {
    padding: 10px 10px 10px 30px; /* Add padding to account for icon */
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.clkbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.clkbtn:hover {
    background-color: #0056b3;
}
